{% extends 'base.html' %}
{% block content %}
{% load static %}

{% comment %} * Déclaration des feuilles de style * {% endcomment %}
<link rel = "stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<link rel = "stylesheet" type="text/css" href="{% static 'css/boutonCadre.css' %}"/>
<link rel = "stylesheet" type="text/css" href="{% static 'css/download.css' %}"/>
<link rel = "stylesheet" type="text/css" href="{% static 'css/image.css' %}"/>
<link rel = "stylesheet" type="text/css" href="{% static 'css/recherche.css' %}"/>
<link rel = "stylesheet" type="text/css" href="{% static 'css/newsletter.css' %}"/>
<link rel = "stylesheet" type="text/css" href="{% static 'css/titre.css' %}"/>

{% comment %} * Déclaration JS * {% endcomment %}
<script src="{% static 'js/newsletter.js' %}"></script>
<script src="{% static 'js/titreNL.js' %}"></script>

{% comment %} * Bouton Accueil * {% endcomment %}
<section align="left" class="portfolio-experiment">
  <a href="/accueil">
    <span class="text">Accueil</span>
    <span class="line -right"></span>
    <span class="line -top"></span>
    <span class="line -left"></span>
    <span class="line -bottom"></span>
  </a>
</section>

{% comment %} * Searchbar * {% endcomment %}
<section align="right" >
  <input  id="searchbar" onkeyup="search_newsletter()" type="text" name="search" placeholder="Rechercher Newsletters">
</section> <br>

  
  
{% comment %} * Titre des Newsletters * {% endcomment %}
<center>
  <div class="container">
    <p>
      <span>
        Newletters
      </span>
    </p>
  </div>
  <h4><i>(Cliquez sur une newsletter pour la consulter )</i><h4>
</center>    

{% comment %} * Tableau de Newsletters * {% endcomment %}
{% comment %} ! Les CASES fonctionne par paire ! {% endcomment %}

<table cellpadding="15" align="center" >

  <tr>
{% comment %} * Case 1 *{% endcomment %}    
    <th class="newsletter">
      <h3>La catastrophe naturelle secheresse<h3>
      <h4>Septembre 2022</h4>
      <center>
        <div class="download-btn btn-1">
          <div class="top">
            <i class="fa fa-cloud-download">Télécharger</i> 
          </div>
          <a href="{% static 'pdf/NewsletterSeptembre2022.pdf' %}" download="Newsletter_Septembre_2022.pdf">
            <div class="bottom">
               Septembre 2022
            </div>
          </a>
        </div>
      <br><br>
        <div id="tv">
          <a target = "_blank" href="{% static 'pdf/NewsletterSeptembre2022.pdf' %}">
            <img border="2" class="imgMois" src = "{% static 'images/NLS2022.png' %}"/><br>
          </a>
        </div>
    </th>

{% comment %} * Case 2 *{% endcomment %}    
    <th class="newsletter">
      <h3>La catastrophe naturelle secheresse<h3>
      <h4>Septembre 2022</h4>
      <center>
        <div class="download-btn btn-1">
          <div class="top">
            <i class="fa fa-cloud-download">Télécharger</i> 
          </div>
          <a href="{% static 'pdf/NewsletterSeptembre2022.pdf' %}" download="Newsletter_Septembre_2022.pdf">
            <div class="bottom">
               Septembre 2022
            </div>
          </a>
        </div>
      <br><br>
        <div id="tv">
          <a target = "_blank" href="{% static 'pdf/NewsletterSeptembre2022.pdf' %}">
            <img border="2" class="imgMois" src = "{% static 'images/NLS2022.png' %}"/><br>
          </a>
        </div>
    </th>
  </tr>
                
</table>
{% endblock %}


