{% extends 'base.html' %}
{% block content %}
{% load static %}

{% comment %} Déclaration des feuilles de style {% endcomment %}
<link rel = "stylesheet" type="text/css" href="{% static 'css/formulaire.css' %}"/>


<div class="center">
    <h1>Entrer votre nouveau mot de passe</h1>
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            
    <div class="txt_field">
        {{form}}
    {% comment %} <input type="email" name="email" id="email" required> {% endcomment %}
    <span></span>
    <label>Mot de passe</label>
    </div>

    <input type="submit" name = "Update Password">
    <br><br>







{% endblock %}