{% extends 'base.html' %}
{% block content %}
{% load static %}

{% comment %} * Déclaration des feuilles de style * {% endcomment %}
<link rel = "stylesheet" type="text/css" href="{% static 'css/formulaire.css' %}"/>


<div class="center">
  <h1>Votre mot de passe a été réinitialiser avec sucess</h1>
  <div class="div" >
    <div class="flex-1">
      <button class="button button-mat btn--6">
        <a href="/login">
          <div class="psuedo-text">Se connecter</div>
        </a>
      </button>
    </div>
  </div>
</div>

{% endblock %}