{% extends 'base.html' %}
{% block content %}
{% load static %}

{% comment %} Déclaration des feuilles de style {% endcomment %}
<link rel = "stylesheet" type="text/css" href="{% static 'css/formulaire.css' %}"/>


<div class="center">
    <h1>Reinitialiser votre mot de passe</h1>
        <form method="post">
        {% csrf_token %}
    
    <div class="txt_field">
    {% comment %} <input type="email" name="email" id="email" required> {% endcomment %}
    {{form}}
    <span></span>
    <label>Email</label>
    </div>

    <input type="submit" name = "Send emai">
    <br><br>







{% endblock %}