{% extends 'base.html' %}
{% block content %}
{% load static %}

{% comment %} * Déclaration des feuilles de style * {% endcomment %}
<link rel = "stylesheet" type="text/css" href="{% static 'css/formulaire.css' %}"/>


<div class="center">
  <h1>Inscription</h1>
  <form method="post" action"/register">
    {% csrf_token %}
    <div class="txt_field">
      <input type="text" name="username" id="username" required>
      <span></span>
      <label>Nom d'utilisateur*</label>
    </div>

    <div class="txt_field">
      <input type="text" name="firstname" id="firstname" required>
      <span></span>
      <label>Nom*</label>
    </div>

    <div class="txt_field">
      <input type="text" name="lastname" id="lastname" required>
      <span></span>
      <label>Prenom*</label>
    </div>

    <div class="txt_field">
      <input type="email" name="email" id="email" required>
      <span></span>
      <label>Email*</label>
    </div>

    <div class="txt_field">
      <input type="password" name="password" id="password" required>
      <span></span>
      <label>Mot de passe*</label>
    </div>

    <div class="txt_field">
      <input type="password" name="password1" id="password1" required>
      <span></span>
      <label>Valider le mot de passe*</label>
    </div>

    <div>  
      {% for message in messages %}
        <strong>{{message}}<strong>
      {% endfor %}
    </div>

    <input type="submit" value="Inscription">
    <div class="signup_link">
      Déjà inscrit ? <a href="/login">Connexion</a>
    </div>
  </form>
</div>
{% endblock %}


