* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
  }
  
  .donut-chart {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 2rem;
    border-radius: 100%
   }
  p.center {
    background: #394264;
    color:#c9af89;
    position: absolute;
    text-align: center;
  font-size: 28px;
    top: 65%;left:50%;bottom:0;right:0;
    width: 130px;
    height: 130px;
    margin: auto;
    border-radius: 50%;
    line-height: 35px;
    padding: 15% 0 0;
  }
      
      
  .portion-block {
    
      border-radius: 100%;
      clip: rect(0px, 200px, 200px, 100px);
      height: 100%;
      position: absolute;
      width: 100%;
      ;
    }
  .circle {
      
      border-radius: 100%;
      clip: rect(0px, 100px, 200px, 0px);
      height: 100%;
      position: absolute;
      width: 100%;
      font-family: monospace;
      font-size: 1.5rem;
    
    }
      





/* 1 AOUT */

      
  #part1Aout {
      transform: rotate(0deg);
    }
  
      #part1Aout .circle {
          background-color: #E64C65;
          animation: first 1s 1 forwards;
        }
      
      
  #part2Aout {
      transform: rotate(180deg);
    }
      #part2Aout .circle {
      /* background-color: #11A8AB; */
      background-color: #E64C65;
      animation: second 1s 1 forwards 0.9s;
    }

  #part3Aout {
      transform: rotate(0deg);
  }
      #part3Aout .circle {
          background-color: #4ff681;
          animation: third 1s 1 forwards 0s;
      }
      
      
  /* Animation */
  @keyframes first {
      from {transform: rotate(0deg);}
      to {transform: rotate(180deg);}
  }
      
  @keyframes second {
      from {transform: rotate(0deg);}
      to {transform: rotate(180deg);}
  }
      
  @keyframes third {
      from {transform: rotate(0deg);}
      to {transform: rotate(0deg);}
  }




/* BASE */

  #partB1 {
    transform: rotate(0deg);
  }

    #partB1 .circle {
        background-color: #E64C65;
        animation: Base1 1s 1 forwards;
      }
    
    
#partB2 {
    transform: rotate(120deg);
  }
#partB2 .circle {
    background-color: #11A8AB;
    animation: Base2 1s 1 forwards 0s;
  }

#partB3 {
    transform: rotate(240deg);
}
    #partB3 .circle {
        background-color: #4ff681;
        animation: Base3 1s 1 forwards 0s;
    }
    
    
/* Animation */
@keyframes Base1 {
    from {transform: rotate(0deg);}
    to {transform: rotate(120deg);}
}
    
@keyframes Base2 {
    from {transform: rotate(0deg);}
    to {transform: rotate(120deg);}
}
    
@keyframes Base3 {
    from {transform: rotate(0deg);}
    to {transform: rotate(120deg);}
}


/* 2 SEPTEMBRE */

#part1Sep {
  transform: rotate(0deg);
}

  #part1Sep .circle {
      background-color: #E64C65;
      animation: Sep1 1s 1 forwards;
    }
  
  
#part2Sep {
  transform: rotate(180deg);
}
#part2Sep .circle {
  /* background-color: #11A8AB; */
  background-color: #E64C65;
  animation: Sep2 1s 1 forwards 0.92s;
}

#part3Sep {
  transform: rotate(262deg);
}
  #part3Sep .circle {
      background-color: #11A8AB;
      animation: Sep3 1s 1 forwards 2s;
  }
  
  
/* Animation */
@keyframes Sep1 {
  from {transform: rotate(0deg);}
  to {transform: rotate(180deg);}
}
  
@keyframes Sep2 {
  from {transform: rotate(0deg);}
  to {transform: rotate(82deg);}
}
  
@keyframes Sep3 {
  from {transform: rotate(0deg);}
  to {transform: rotate(98deg);}
}








