 #searchbar{
     margin-left: 15%;
     margin-top: -15px;
     padding:8px;
     border-radius: 10px;
    
   }
 
   input[type=text] {
  
      width: 20%;
      -webkit-transition: width 0.15s ease-in-out;
      transition: width 0.15s ease-in-out;
     
   }
 
   /* When the input field gets focus,
        change its width to 100% */
   input[type=text]:focus {
     width: 50%;
   }

.newsletter{
   display: list-item, inline-block;  
   list-style-type: none;
   
  }
  
.stat{
display: list-item, inline-block;  
list-style-type: none;
}

.DTU{
  display: list-item, inline-block;  
  list-style-type: none;
  }
